<div class="cards">
  <ul class="card-list">
    <li class="card-item">
      <div class="folder">
        <svg class="folder-overlay-1" width="282" height="222">
          <use href="../img/icons.svg#icon-folderwhite1"></use>
        </svg>
        <svg class="folder-overlay-3" width="87" height="190">
          <use href="../img/icons.svg#icon-folderwhite3"></use>
        </svg>
        <svg class="folder-overlay-4" width="102" height="159">
          <use href="../img/icons.svg#icon-folderwhite4"></use>
        </svg>
        <svg class="folder-overlay-2" width="282" height="222">
          <use href="../img/icons.svg#icon-folderwhite2"></use>
        </svg>
        <svg class="folder-icon-1" width="227" height="70">
          <use href="../img/icons.svg#icon-folder2"></use>
        </svg>
        <svg class="folder-icon-2" width="421" height="286">
          <use href="../img/icons.svg#icon-folder1"></use>
        </svg>
      </div>
      <div class="card-text">
        <p class="card-label">1/6</p>
        <p class="card-title">Інтерактивна карта</p>
      </div>
    </li>
    <li class="card-item">
      <div class="folder">
        <svg class="folder-overlay-1" width="282" height="222">
          <use href="../img/icons.svg#icon-folderwhite1"></use>
        </svg>
        <svg class="folder-overlay-3" width="87" height="190">
          <use href="../img/icons.svg#icon-folderwhite3"></use>
        </svg>
        <svg class="folder-overlay-4" width="102" height="159">
          <use href="../img/icons.svg#icon-folderwhite4"></use>
        </svg>
        <svg class="folder-overlay-2" width="282" height="222">
          <use href="../img/icons.svg#icon-folderwhite2"></use>
        </svg>
        <svg class="folder-icon-1" width="227" height="70">
          <use href="../img/icons.svg#icon-folder2"></use>
        </svg>
        <svg class="folder-icon-2" width="421" height="286">
          <use href="../img/icons.svg#icon-folder1"></use>
        </svg>
      </div>
      <div class="card-text">
        <p class="card-label">2/6</p>
        <p class="card-title">Стратегічне планування</p>
      </div>
    </li>
    <li class="card-item">
      <div class="folder">
        <svg class="folder-overlay-1" width="282" height="222">
          <use href="../img/icons.svg#icon-folderwhite1"></use>
        </svg>
        <svg class="folder-overlay-3" width="87" height="190">
          <use href="../img/icons.svg#icon-folderwhite3"></use>
        </svg>
        <svg class="folder-overlay-4" width="102" height="159">
          <use href="../img/icons.svg#icon-folderwhite4"></use>
        </svg>
        <svg class="folder-overlay-2" width="282" height="222">
          <use href="../img/icons.svg#icon-folderwhite2"></use>
        </svg>
        <svg class="folder-icon-1" width="227" height="70">
          <use href="../img/icons.svg#icon-folder2"></use>
        </svg>
        <svg class="folder-icon-2" width="421" height="286">
          <use href="../img/icons.svg#icon-folder1"></use>
        </svg>
      </div>
      <div class="card-text">
        <p class="card-label">3/6</p>
        <p class="card-title">
          Реєстр договорів про співробітництво територіальних громад
        </p>
      </div>
    </li>
    <li class="card-item">
      <div class="folder">
        <svg class="folder-overlay-1" width="282" height="222">
          <use href="../img/icons.svg#icon-folderwhite1"></use>
        </svg>
        <svg class="folder-overlay-3" width="87" height="190">
          <use href="../img/icons.svg#icon-folderwhite3"></use>
        </svg>
        <svg class="folder-overlay-4" width="102" height="159">
          <use href="../img/icons.svg#icon-folderwhite4"></use>
        </svg>
        <svg class="folder-overlay-2" width="282" height="222">
          <use href="../img/icons.svg#icon-folderwhite2"></use>
        </svg>
        <svg class="folder-icon-1" width="227" height="70">
          <use href="../img/icons.svg#icon-folder2"></use>
        </svg>
        <svg class="folder-icon-2" width="421" height="286">
          <use href="../img/icons.svg#icon-folder1"></use>
        </svg>
      </div>
      <div class="card-text">
        <p class="card-label">4/6</p>
        <p class="card-title">Профайл громад</p>
      </div>
    </li>
    <li class="card-item">
      <div class="folder">
        <svg class="folder-overlay-1" width="282" height="222">
          <use href="../img/icons.svg#icon-folderwhite1"></use>
        </svg>
        <svg class="folder-overlay-3" width="87" height="190">
          <use href="../img/icons.svg#icon-folderwhite3"></use>
        </svg>
        <svg class="folder-overlay-4" width="102" height="159">
          <use href="../img/icons.svg#icon-folderwhite4"></use>
        </svg>
        <svg class="folder-overlay-2" width="282" height="222">
          <use href="../img/icons.svg#icon-folderwhite2"></use>
        </svg>
        <svg class="folder-icon-1" width="227" height="70">
          <use href="../img/icons.svg#icon-folder2"></use>
        </svg>
        <svg class="folder-icon-2" width="421" height="286">
          <use href="../img/icons.svg#icon-folder1"></use>
        </svg>
      </div>
      <div class="card-text">
        <p class="card-label">5/6</p>
        <p class="card-title">Інвестиційний індекс</p>
      </div>
    </li>
    <li class="card-item">
      <div class="folder">
        <svg class="folder-overlay-1" width="282" height="222">
          <use href="../img/icons.svg#icon-folderwhite1"></use>
        </svg>
        <svg class="folder-overlay-3" width="87" height="190">
          <use href="../img/icons.svg#icon-folderwhite3"></use>
        </svg>
        <svg class="folder-overlay-4" width="102" height="159">
          <use href="../img/icons.svg#icon-folderwhite4"></use>
        </svg>
        <svg class="folder-overlay-2" width="282" height="222">
          <use href="../img/icons.svg#icon-folderwhite2"></use>
        </svg>
        <svg class="folder-icon-1" width="227" height="70">
          <use href="../img/icons.svg#icon-folder2"></use>
        </svg>
        <svg class="folder-icon-2" width="421" height="286">
          <use href="../img/icons.svg#icon-folder1"></use>
        </svg>
      </div>
      <div class="card-text">
        <p class="card-label">6/6</p>
        <p class="card-title">Місцеві дані</p>
      </div>
    </li>
  </ul>
</div>
