<div class="container mx-auto mt-[140px] max-w-[1312px]">
  <ul class="flex flex-wrap justify-center gap-6">
    <li class="flex flex-col justify-between w-[421px] h-[328px]">
      <div class="relative group">
        <img
          class="absolute top-0 right-0 transform translate-y-[20%] transition-transform duration-500 ease-in-out group-hover:translate-y-[0%]"
          src="../img/SVG/folder-grey.svg"
          alt="Overlay 1"
        />
        <img
          class="absolute -top-12 left-[290px] transform translate-y-[50%] transition-transform duration-500 ease-in-out group-hover:translate-y-[0%]"
          src="../img/SVG/info-flower-1.svg"
          alt="Overlay 3"
        />
        <img
          class="absolute -top-6 left-[190px] transform translate-y-[50%] transition-transform duration-500 ease-in-out group-hover:translate-y-[0%]"
          src="../img/SVG/info-flower-2.svg"
          alt="Overlay 4"
        />
        <img
          class="absolute top-5 right-0 transform translate-y-[30%] transition-transform duration-500 ease-in-out group-hover:translate-y-[0%]"
          src="../img/SVG/folder-white.svg"
          alt="Overlay 2"
        />
        <img class="absolute" src="../img/SVG/bg.svg" alt="Icon 1" />
        <img
          class="absolute top-[42px]"
          src="../img/SVG/base-title.svg"
          alt="Icon 2"
        />
      </div>
      <div class="relative">
        <p
          class="absolute -top-[330px] left-0 py-4 px-11 text-white text-xl z-10"
        >
          1/6
        </p>
        <p
          class="absolute bottom-[54px] left-0 pl-11 text-white text-[26px] transform translate-y-[50%] transition-transform duration-200 ease-in-out"
        >
          Інтерактивна карта
        </p>
      </div>
    </li>
    <li class="flex flex-col justify-between w-[421px] h-[328px]">
      <div class="relative group">
        <img
          class="absolute top-0 right-0 transform translate-y-[20%] transition-transform duration-500 ease-in-out group-hover:translate-y-[0%]"
          src="../img/SVG/folder-grey.svg"
          alt="Overlay 1"
        />
        <img
          class="absolute -top-12 left-[290px] transform translate-y-[50%] transition-transform duration-500 ease-in-out group-hover:translate-y-[0%]"
          src="../img/SVG/info-flower-1.svg"
          alt="Overlay 3"
        />
        <img
          class="absolute -top-6 left-[190px] transform translate-y-[50%] transition-transform duration-500 ease-in-out group-hover:translate-y-[0%]"
          src="../img/SVG/info-flower-2.svg"
          alt="Overlay 4"
        />
        <img
          class="absolute top-5 right-0 transform translate-y-[30%] transition-transform duration-500 ease-in-out group-hover:translate-y-[0%]"
          src="../img/SVG/folder-white.svg"
          alt="Overlay 2"
        />
        <img class="absolute" src="../img/SVG/bg.svg" alt="Icon 1" />
        <img
          class="absolute top-[42px]"
          src="../img/SVG/base-title.svg"
          alt="Icon 2"
        />
      </div>
      <div class="relative">
        <p
          class="absolute -top-[330px] left-0 py-4 px-11 text-white text-xl z-10"
        >
          2/6
        </p>
        <p
          class="absolute bottom-[54px] left-0 pl-11 text-white text-[26px] transform translate-y-[50%] transition-transform duration-200 ease-in-out"
        >
          Стратегічне планування
        </p>
      </div>
    </li>
    <li class="flex flex-col justify-between w-[421px] h-[328px]">
      <div class="relative group">
        <img
          class="absolute top-0 right-0 transform translate-y-[20%] transition-transform duration-500 ease-in-out group-hover:translate-y-[0%]"
          src="../img/SVG/folder-grey.svg"
          alt="Overlay 1"
        />
        <img
          class="absolute -top-12 left-[290px] transform translate-y-[50%] transition-transform duration-500 ease-in-out group-hover:translate-y-[0%]"
          src="../img/SVG/info-flower-1.svg"
          alt="Overlay 3"
        />
        <img
          class="absolute -top-6 left-[190px] transform translate-y-[50%] transition-transform duration-500 ease-in-out group-hover:translate-y-[0%]"
          src="../img/SVG/info-flower-2.svg"
          alt="Overlay 4"
        />
        <img
          class="absolute top-5 right-0 transform translate-y-[30%] transition-transform duration-500 ease-in-out group-hover:translate-y-[0%]"
          src="../img/SVG/folder-white.svg"
          alt="Overlay 2"
        />
        <img class="absolute" src="../img/SVG/bg.svg" alt="Icon 1" />
        <img
          class="absolute top-[42px]"
          src="../img/SVG/base-title.svg"
          alt="Icon 2"
        />
      </div>
      <div class="relative">
        <p
          class="absolute -top-[330px] left-0 py-4 px-11 text-white text-xl z-10"
        >
          3/6
        </p>
        <p
          class="absolute bottom-[94px] left-0 pl-11 text-white text-[26px] transform translate-y-[50%] transition-transform duration-200 ease-in-out"
        >
          Реєстр договорів про співробітництво територіальних громад
        </p>
      </div>
    </li>
    <li class="flex flex-col justify-between w-[421px] h-[328px]">
      <div class="relative group">
        <img
          class="absolute top-0 right-0 transform translate-y-[20%] transition-transform duration-500 ease-in-out group-hover:translate-y-[0%]"
          src="../img/SVG/folder-grey.svg"
          alt="Overlay 1"
        />
        <img
          class="absolute -top-12 left-[290px] transform translate-y-[50%] transition-transform duration-500 ease-in-out group-hover:translate-y-[0%]"
          src="../img/SVG/info-flower-1.svg"
          alt="Overlay 3"
        />
        <img
          class="absolute -top-6 left-[190px] transform translate-y-[50%] transition-transform duration-500 ease-in-out group-hover:translate-y-[0%]"
          src="../img/SVG/info-flower-2.svg"
          alt="Overlay 4"
        />
        <img
          class="absolute top-5 right-0 transform translate-y-[30%] transition-transform duration-500 ease-in-out group-hover:translate-y-[0%]"
          src="../img/SVG/folder-white.svg"
          alt="Overlay 2"
        />
        <img class="absolute" src="../img/SVG/bg.svg" alt="Icon 1" />
        <img
          class="absolute top-[42px]"
          src="../img/SVG/base-title.svg"
          alt="Icon 2"
        />
      </div>
      <div class="relative">
        <p
          class="absolute -top-[330px] left-0 py-4 px-11 text-white text-xl z-10"
        >
          4/6
        </p>
        <p
          class="absolute bottom-[54px] left-0 pl-11 text-white text-[26px] transform translate-y-[50%] transition-transform duration-200 ease-in-out"
        >
          Профайл громад
        </p>
      </div>
    </li>
    <li class="flex flex-col justify-between w-[421px] h-[328px]">
      <div class="relative group">
        <img
          class="absolute top-0 right-0 transform translate-y-[20%] transition-transform duration-500 ease-in-out group-hover:translate-y-[0%]"
          src="../img/SVG/folder-grey.svg"
          alt="Overlay 1"
        />
        <img
          class="absolute -top-12 left-[290px] transform translate-y-[50%] transition-transform duration-500 ease-in-out group-hover:translate-y-[0%]"
          src="../img/SVG/info-flower-1.svg"
          alt="Overlay 3"
        />
        <img
          class="absolute -top-6 left-[190px] transform translate-y-[50%] transition-transform duration-500 ease-in-out group-hover:translate-y-[0%]"
          src="../img/SVG/info-flower-2.svg"
          alt="Overlay 4"
        />
        <img
          class="absolute top-5 right-0 transform translate-y-[30%] transition-transform duration-500 ease-in-out group-hover:translate-y-[0%]"
          src="../img/SVG/folder-white.svg"
          alt="Overlay 2"
        />
        <img class="absolute" src="../img/SVG/bg.svg" alt="Icon 1" />
        <img
          class="absolute top-[42px]"
          src="../img/SVG/base-title.svg"
          alt="Icon 2"
        />
      </div>
      <div class="relative">
        <p
          class="absolute -top-[330px] left-0 py-4 px-11 text-white text-xl z-10"
        >
          5/6
        </p>
        <p
          class="absolute bottom-[54px] left-0 pl-11 text-white text-[26px] transform translate-y-[50%] transition-transform duration-200 ease-in-out"
        >
          Інвестиційний індекс
        </p>
      </div>
    </li>
    <li class="flex flex-col justify-between w-[421px] h-[328px]">
      <div class="relative group">
        <img
          class="absolute top-0 right-0 transform translate-y-[20%] transition-transform duration-500 ease-in-out group-hover:translate-y-[0%]"
          src="../img/SVG/folder-grey.svg"
          alt="Overlay 1"
        />
        <img
          class="absolute -top-12 left-[290px] transform translate-y-[50%] transition-transform duration-500 ease-in-out group-hover:translate-y-[0%]"
          src="../img/SVG/info-flower-1.svg"
          alt="Overlay 3"
        />
        <img
          class="absolute -top-6 left-[190px] transform translate-y-[50%] transition-transform duration-500 ease-in-out group-hover:translate-y-[0%]"
          src="../img/SVG/info-flower-2.svg"
          alt="Overlay 4"
        />
        <img
          class="absolute top-5 right-0 transform translate-y-[30%] transition-transform duration-500 ease-in-out group-hover:translate-y-[0%]"
          src="../img/SVG/folder-white.svg"
          alt="Overlay 2"
        />
        <img class="absolute" src="../img/SVG/bg.svg" alt="Icon 1" />
        <img
          class="absolute top-[42px]"
          src="../img/SVG/base-title.svg"
          alt="Icon 2"
        />
      </div>
      <div class="relative">
        <p
          class="absolute -top-[330px] left-0 py-4 px-11 text-white text-xl z-10"
        >
          6/6
        </p>
        <p
          class="absolute bottom-[54px] left-0 pl-11 text-white text-[26px] transform translate-y-[50%] transition-transform duration-200 ease-in-out"
        >
          Місцеві дані
        </p>
      </div>
    </li>
  </ul>
</div>
