<footer class="footer">
  <div class="creeping-line">
    <span class="line-text"
      >Портал працює в тестовому режимі &emsp;&emsp;&emsp;&emsp; Портал працює в
      тестовому режимі &emsp;&emsp;&emsp;&emsp; Портал працює в тестовому режимі
      &emsp;&emsp;&emsp;&emsp; Портал працює в тестовому режимі
      &emsp;&emsp;&emsp;&emsp; Портал працює в тестовому режимі
      &emsp;&emsp;&emsp;&emsp; Портал працює в тестовому режимі
      &emsp;&emsp;&emsp;&emsp; Портал працює в тестовому режимі
      &emsp;&emsp;&emsp;&emsp; Портал працює в тестовому режимі
      &emsp;&emsp;&emsp;&emsp; Портал працює в тестовому режимі
      &emsp;&emsp;&emsp;&emsp; Портал працює в тестовому режимі
      &emsp;&emsp;&emsp;&emsp; Портал працює в тестовому режимі</span
    >
  </div>
  <div class="footer-container">
    <div class="top-frame">
      <div class="rectangle"></div>
      <div class="text-wrapper">
        Геоінформаційна система <br />
        регіонального розвитку
      </div>
    </div>
    <div class="main-frame">
      <div class="address">
        <div class="text-wrapper-2">Адреса:</div>
        <p class="address-item">01135, Київ, Берестейський проспект , 14</p>
      </div>
      <div class="developed">
        <div class="text-wrapper-2">Розробка та підтримка:</div>
        <svg class="footer-logo" width="128" height="17">
          <use href="../img/icons.svg#icon-softprologo"></use>
        </svg>
      </div>
      <div class="partners">
        <div class="text-wrapper-2">Партнери:</div>
        <ul class="div-5">
          <img class="miu" src="../img/miu 1.png" />
          <img class="img" src="../img/logo1 1.png" />
          <img
            class="the-world-bank-logo"
            src="../img//The_World_Bank_logo 1.png"
          />
          <img class="eu-logo" src="../img/eu_logo 1.png" />
        </ul>
      </div>
      <div class="footer-animation">
        <div class="river-group">
          <svg class="animation-river-1" width="520" height="37">
            <use href="../img/icons.svg#icon-river1"></use>
          </svg>
          <svg class="animation-river-2" width="724" height="38">
            <use href="../img/icons.svg#icon-river2"></use>
          </svg>
        </div>
        <div class="flower-group">
          <svg class="animation-flower-1" width="85" height="159">
            <use href="../img/icons.svg#icon-flwfoot1"></use>
          </svg>
          <svg class="animation-flower-2" width="20" height="23">
            <use href="../img/icons.svg#icon-flwfoot2"></use>
          </svg>
          <svg class="animation-flower-3" width="19" height="26">
            <use href="../img/icons.svg#icon-flwfoot3"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="bottom-frame">
      <p class="rights">
        Усі права на матеріали, розміщені на цьому сайті, належать Міністерству
        розвитку громад, територій та інфраструктури. При частковому або повному
        використанні матеріалів сайту обов&#39;язковим є посилання із
        зазначенням джерела
      </p>
      <p class="ministry">
        © 2024 Міністерство розвитку громад, територій та інфраструктури
        України.
      </p>
      <p class="license">
        Весь контент доступний за ліцензією Creative Commons Attribution 4.0
        International license, якщо не зазначено інше
      </p>
    </div>
  </div>
</footer>
