<footer class="mt-[140px] text-white">
  <div class="overflow-hidden whitespace-nowrap bg-blue-600 py-2">
    <span class="inline-block animate-marquee text-sm font-light tracking-wide pb-2">
      Портал працює в тестовому режимі &emsp;&emsp;&emsp;&emsp; Портал працює в
      тестовому режимі &emsp;&emsp;&emsp;&emsp; Портал працює в тестовому режимі
      &emsp;&emsp;&emsp;&emsp; Портал працює в тестовому режимі
      &emsp;&emsp;&emsp;&emsp; Портал працює в тестовому режимі
    </span>
  </div>
  <div class="mx-auto max-w-7xl px-6 py-11 flex flex-col gap-11 relative">
    <div class="flex items-center gap-2">
      <img class="w-9 h-8 text-white" src="../img/SVG/logo.svg" alt="logo" />
      <div class="text-m font-medium pb-2">
        Геоінформаційна система <br />
        регіонального розвитку
      </div>
    </div>
    <div class="flex flex-col gap-8">
      <div class="flex flex-col gap-4">
        <h4 class="text-lg font-medium">Адреса:</h4>
        <p class="text-sm font-light">
          01135, Київ, Берестейський проспект, 14
        </p>
      </div>
      <div class="flex flex-col gap-4">
        <h4 class="text-lg font-medium">Розробка та підтримка:</h4>
        <img src="../img/SVG/softprologo.svg" alt="SoftPro Logo" class="w-32" />
      </div>
      <div class="flex flex-col gap-4">
        <h4 class="text-lg font-medium">Партнери:</h4>
        <ul class="flex items-center gap-4">
          <li><img src="../img/miu 1.png" alt="MIU Logo" /></li>
          <li>
            <img src="../img/logo1 1.png" alt="Partner Logo 1" />
          </li>
          <li>
            <img src="../img/The_World_Bank_logo 1.png" alt="World Bank Logo" />
          </li>
          <li><img src="../img/eu_logo 1.png" alt="EU Logo" /></li>
        </ul>
      </div>
      <div class="absolute top-50 right-0">
        <div class="relative top-24 right-[-60px]">
          <img class="w-[520px] h-9 ml-[190px]" src="../img/SVG/river1.svg">
          </img>
          <img class="w-[724px] h-9 mt-4" src="../img/SVG/river2.svg">
          </img>
        </div>
        <div class="absolute right-[200px] top-8">
          <img class="w-20 h-40" src="../img/svg/flwfoot1.svg">
          </img>
          <img
            class="absolute w-5 h-6 top-16 left-12"
            src="../img/svg/flwfoot2.svg">
          </img>
          <img
            class="absolute w-5 h-6 top-16 left-4"
            src="../img/svg/flwfoot3.svg">
          </img>
        </div>
      </div>
    </div>
    <div class="flex justify-around gap-6 text-xs font-light text-gray-400">
      <p class="max-w-[392px]">
        Усі права на матеріали, розміщені на цьому сайті, належать Міністерству
        розвитку громад, територій та інфраструктури. При частковому або повному
        використанні матеріалів сайту обов’язковим є посилання із зазначенням
        джерела.
      </p>
      <p class="max-w-[392px]">
        © 2024 Міністерство розвитку громад, територій та інфраструктури
        України.
      </p>
      <p class="max-w-[392px]">
        Весь контент доступний за ліцензією Creative Commons Attribution 4.0
        International license, якщо не зазначено інше.
      </p>
    </div>
  </div>
</footer>

<style>
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .animate-marquee {
    animation: marquee 60s linear infinite;
  }
</style>
