<header>
  <div class="header">
    <nav class="navigation">
      <a class="nav-logo" href="./index.html" aria-label="Site logo">
        <svg class="nav-logo-icon" width="36" height="34">
          <use href="../img/icons.svg#icon-logo"></use>
        </svg>
        <p class="text-logo">
          Міністерство <br />
          Відновлення
        </p>
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="#">Реєстри</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Сервіси</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Стратегії</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Програми та проєкти</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Документація</a>
        </li>
        <li class="nav-item">
          <button class="burger-btn">
            <svg class="nav-logo-icon" width="24" height="24">
              <use href="../img/icons.svg#icon-menu"></use>
            </svg>
          </button>
        </li>
      </ul>
    </nav>
    <div class="services">
      <ul class="service-list">
        <li class="service-item service-item-icon">
          <button class="search-btn">
            <svg width="24" height="24">
              <use href="../img/icons.svg#icon-icon-search"></use>
            </svg>
          </button>
        </li>
        <li class="service-item service-item-icon">
          <button class="eye-btn">
            <svg width="24" height="24">
              <use href="../img/icons.svg#icon-eye"></use>
            </svg>
          </button>
        </li>
        <li class="service-item">
          <button class="lang-btn">
            UA
            <svg width="24" height="24">
              <use href="../img/icons.svg#icon-icon-down"></use>
            </svg>
          </button>
        </li>
        <li class="service-item">
          <button class="login-btn">Увійти</button>
        </li>
      </ul>
    </div>
  </div>
</header>
