<div class="title">
  <div class="title-header">
    <p class="title-name">Геопортал показників Регіонального розвитку</p>
    <p class="title-desc">
      Єдина геоінформаційна система здійснення моніторингу та оцінювання
      розвитку регіонів і територіальних громад
    </p>
  </div>
  <div class="animation">
    <svg class="animation-icon" width="1427" height="1192">
      <use href="../img/icons.svg#icon-Group-13"></use>
    </svg>
    <svg class="animation-icon" width="548" height="553">
      <use href="../img/icons.svg#icon-Subtract"></use>
    </svg>
    <svg class="animation-icon" width="137" height="485">
      <use href="../img/icons.svg#icon-Subtract-1"></use>
    </svg>
  </div>
  <div class="target">
    <p class="target-name">Наша мета</p>
    <p class="target-desc">
      Забезпечити повний цикл формування, реалізації та моніторингу регіональної
      політики: від рішень на основі даних та стратегічного планування до роботи
      зі стейкголдерами та моніторингу регіонального розвитку
    </p>
    <div class="flowers">
      <div class="flower-left">
        <svg class="flowers-icon" width="79.13" height="58.67">
          <use href="../img/icons.svg#icon-flower1"></use>
        </svg>
        <svg class="flowers-icon" width="79.13" height="58.67">
          <use href="../img/icons.svg#icon-flower2"></use>
        </svg>
        <svg class="flowers-icon" width="45.76" height="42.68">
          <use href="../img/icons.svg#icon-flower3"></use>
        </svg>
      </div>
      <div class="flower-right">
        <svg class="flowers-icon" width="79.13" height="58.67">
          <use href="../img/icons.svg#icon-flower1"></use>
        </svg>
        <svg class="flowers-icon" width="79.13" height="58.67">
          <use href="../img/icons.svg#icon-flower2"></use>
        </svg>
        <svg class="flowers-icon" width="45.76" height="42.68">
          <use href="../img/icons.svg#icon-flower3"></use>
        </svg>
      </div>
    </div>
  </div>
</div>
