<div
  class="flex container mx-auto flex-col items-center justify-start gap-16 mx-auto my-[140px] px-11 max-w-[1312px]"
>
  <div class="self-start">
    <p class="font-normal text-[44px] text-white">
      Cтан затвердження статегічних <br />
      документів у розрізі громад
    </p>
  </div>
  <div>
    <ul class="flex flex-wrap items-start justify-center gap-9">
      <li
        class="flex flex-col items-center justify-end gap-24 relative w-[278px] h-[276px]"
      >
        <div class="relative">
          <img
            class="relative translate-y-40"
            src="../img/SVG/info-ellipse-back.svg"
            alt="Circle Background"
          />
          <img
            class="absolute translate-y-[-47px]"
            src="../img/svg/info-ellipse-91.svg"
            alt="Circle"
          />
          <p class="font-normal text-[44px] pt-[10px] text-center text-white">
            91%
          </p>
        </div>
        <p
          class="font-normal text-[18px] leading-[1.33] text-[#d3d3d3] self-start"
        >
          ТГ, які охоплені процесом стратегічного планування
        </p>
      </li>
      <li
        class="flex flex-col items-center justify-end gap-24 relative w-[278px] h-[276px]"
      >
        <div class="relative">
          <img
            class="relative translate-y-40"
            src="../img/SVG/info-ellipse-back.svg"
            alt="Circle Background"
          />
          <img
            class="absolute translate-y-[-47px] translate-x-[69px]"
            src="../img/svg/info-ellipse-56.svg"
            alt="Circle"
          />
          <p class="font-normal text-[44px] pt-[10px] text-center text-white">
            56%
          </p>
        </div>
        <p
          class="font-normal text-[18px] leading-[1.33] text-[#d3d3d3] self-start"
        >
          ТГ, які мають затверджені стратегії
        </p>
      </li>
      <li
        class="flex flex-col items-center justify-end gap-24 relative w-[278px] h-[276px]"
      >
        <div class="relative">
          <img
            class="relative translate-y-40"
            src="../img/SVG/info-ellipse-back.svg"
            alt="Circle Background"
          />
          <img
            class="absolute translate-y-[-47px] translate-x-[103px]"
            src="../img/svg/info-ellipse-35.svg"
            alt="Circle"
          />
          <p class="font-normal text-[44px] pt-[10px] text-center text-white">
            35%
          </p>
        </div>
        <p
          class="font-normal text-[18px] leading-[1.33] text-[#d3d3d3] self-start"
        >
          ТГ, які розробляють <br />
          стратегії
        </p>
      </li>
      <li
        class="flex flex-col items-center justify-end gap-24 relative w-[278px] h-[276px]"
      >
        <div class="relative">
          <img
            class="relative translate-y-40"
            src="../img/SVG/info-ellipse-back.svg"
            alt="Circle Background"
          />
          <img
            class="absolute translate-y-[-47px] translate-x-[103px]"
            src="../img/svg/info-ellipse-09.svg"
            alt="Circle"
          />
          <p class="font-normal text-[44px] pt-[10px] text-center text-white">
            9%
          </p>
        </div>
        <p
          class="font-normal text-[18px] leading-[1.33] text-[#d3d3d3] self-start"
        >
          ТГ, які не починали роботу <br />
          над стратегіями
        </p>
      </li>
    </ul>
  </div>
</div>
