<div class="infographic">
  <div class="infographic-header">
    <p class="infographic-text">
      Cтан затвердження статегічних </br > документів у розрізі громад
    </p>
  </div>
  <div class="infographic-cards">
    <ul class="infographic-card-list">
      <li class="infographic-card-item">
        <div class="card-circle">
          <svg
            class="infographic-circle infographic-circle-back"
            width="208"
            height="208"
          >
            <use href="../img/icons.svg#icon-Ellipse-5-09"></use>
          </svg>
          <svg class="infographic-circle" width="208" height="208">
            <use href="../img/icons.svg#icon-Ellipse-4-91"></use>
          </svg>
          <p class="percentage">91%</p>
        </div>
        <p class="card-info">
          ТГ, які охоплені процесом стратегічного планування
        </p>
      </li>
      <li class="infographic-card-item">
        <div class="card-circle">
          <svg
            class="infographic-circle infographic-circle-back"
            width="208"
            height="208"
          >
            <use href="../img/icons.svg#icon-Ellipse-5-09"></use>
          </svg>
          <svg class="infographic-circle" width="139" height="207">
            <use href="../img/icons.svg#icon-Ellipse-4-56"></use>
          </svg>
          <p class="percentage">56%</p>
        </div>
        <p class="card-info">ТГ, які мають затверджені стратегії</p>
      </li>
      <li class="infographic-card-item">
        <div class="card-circle">
          <svg
            class="infographic-circle infographic-circle-back"
            width="208"
            height="208"
          >
            <use href="../img/icons.svg#icon-Ellipse-5-09"></use>
          </svg>
          <svg class="infographic-circle" width="105" height="158">
            <use href="../img/icons.svg#icon-Ellipse-4-35"></use>
          </svg>
          <p class="percentage">35%</p>
        </div>
        <p class="card-info">ТГ, які розробляють </br> стратегії</p>
      </li>
      <li class="infographic-card-item">
        <div class="card-circle">
          <svg
            class="infographic-circle infographic-circle-back"
            width="208"
            height="208"
          >
            <use href="../img/icons.svg#icon-Ellipse-5-09"></use>
          </svg>
          <svg class="infographic-circle infographic-circle-9" width="51" height="36">
            <use href="../img/icons.svg#icon-Ellipse-4-09"></use>
          </svg>
          <p class="percentage">9%</p>
        </div>
        <p class="card-info">ТГ, які не починали роботу </br> над стратегіями</p>
      </li>
    </ul>
  </div>
</div>
