<section class="ukraine-map">
<div class="map">
  <div class="map-info">
    <ul class="map-info-list">
      <li class="map-info-item">
        <svg class="map-logo" width="44" height="44">
          <use href="../img/icons.svg#icon-Ellipseyellow"></use>
        </svg>
        <p class="map-info-text">більше 70% територіальних </br> громад</p>
      </li>
      <li class="map-info-item">
        <svg class="map-logo" width="44" height="44">
          <use href="../img/icons.svg#icon-Ellipseblue"></use>
        </svg>
        <p class="map-info-text">від 40% до 70% </br> територіальних громад</p>
      </li>
      <li class="map-info-item">
        <svg class="map-logo-grey" width="44" height="44">
          <use href="../img/icons.svg#icon-Ellipseblack"></use>
        </svg>
        <p class="map-info-text">менше 40% </br> територіальних громад</p>
      </li>
    </ul>
  </div>
  <div class="region-map">
    <!-- <svg class="map-logo" width="1235" height="784">
        <use href="../img/icons.svg#icon-Ukraine-Map"></use>
    </svg> -->
    <svg class="map-logo-Cherkasy" width="228" height="180">
        <use href="../img/icons.svg#icon-Cherkasy"></use>
    </svg>
        <svg class="map-logo-Chernihiv" width="208" height="214">
        <use href="../img/icons.svg#icon-Chernihiv"></use>
    </svg>
        <svg class="map-logo-Chernivtsi" width="181" height="96">
        <use href="../img/icons.svg#icon-Chernivtsi"></use>
    </svg>
        <svg class="map-logo-Dnipropetrovsk" width="273" height="171">
        <use href="../img/icons.svg#icon-Dnipropetrovsk"></use>
    </svg>
        <svg class="map-logo-Donetsk" width="176" height="232">
        <use href="../img/icons.svg#icon-Donetsk"></use>
    </svg>
        <svg class="map-logo-Ivano-Frankivsk" width="147" height="183">
        <use href="../img/icons.svg#icon-Ivano-Frankivsk"></use>
    </svg>
        <svg class="map-logo-Kharkiv" width="223" height="195">
        <use href="../img/icons.svg#icon-Kharkiv"></use>
    </svg>
        <svg class="map-logo-Kherson" width="247" height="175">
        <use href="../img/icons.svg#icon-Kherson"></use>
    </svg>
        <svg class="map-logo-Khmelnytskyi" width="123" height="217">
        <use href="../img/icons.svg#icon-Khmelnytskyi"></use>
    </svg>
        <svg class="map-logo-Kirovohrad" width="286" height="149">
        <use href="../img/icons.svg#icon-Kirovohrad"></use>
    </svg>
        <svg class="map-logo-Kyiv-city" width="43" height="42">
        <use href="../img/icons.svg#icon-Kyiv-city"></use>
    </svg>
    <div class="kyiv-hover">
        <svg class="map-logo-Kyiv" width="201" height="243">
        <use href="../img/icons.svg#icon-Kyiv"></use>
    </svg>
        <div class="details">
        <div class="elipse-detail">
            <svg class="elipse-detail-icon" width="60" height="60">
        <use href="../img/icons.svg#icon-Ellipse-5-76"></use>
    </svg>
                <svg class="elipse-detail-icon" width="60" height="60">
        <use href="../img/icons.svg#icon-Ellipse-4-76"></use>
    </svg>
    <p class="elipse-detail-percentage">76%</p>
        </div>
        <svg class="line-detail" width="2" height="62">
        <use href="../img/icons.svg#icon-line76"></use>
    </svg>
        <p class="text-detail">Київська Область</p>
    </div>
    </div>
        <svg class="map-logo-Luhansk" width="165" height="226">
        <use href="../img/icons.svg#icon-Luhansk"></use>
    </svg>
        <svg class="map-logo-Lviv" width="191" height="198">
        <use href="../img/icons.svg#icon-Lviv"></use>
    </svg>
        <svg class="map-logo-Mykolaiv" width="204" height="175">
        <use href="../img/icons.svg#icon-Mykolaiv"></use>
    </svg>
        <svg class="map-logo-Odesa" width="213" height="289">
        <use href="../img/icons.svg#icon-Odesa"></use>
    </svg>
        <svg class="map-logo-Poltava" width="235" height="185">
        <use href="../img/icons.svg#icon-Poltava"></use>
    </svg>
        <svg class="map-logo-Rivne" width="183" height="202">
        <use href="../img/icons.svg#icon-Rivne"></use>
    </svg>
        <svg class="map-logo-Sevastopol" width="40" height="41">
        <use href="../img/icons.svg#icon-Sevastopol"></use>
    </svg>
        <svg class="map-logo-Simferopol" width="287" height="173">
        <use href="../img/icons.svg#icon-Simferopol"></use>
    </svg>
        <svg class="map-logo-Sumy" width="190" height="237">
        <use href="../img/icons.svg#icon-Sumy"></use>
    </svg>
        <svg class="map-logo-Ternopil" width="121" height="179">
        <use href="../img/icons.svg#icon-Ternopil"></use>
    </svg>
        <svg class="map-logo-Vinnytsia" width="183" height="183">
        <use href="../img/icons.svg#icon-Vinnytsia"></use>
    </svg>
        <svg class="map-logo-Volyn" width="173" height="177">
        <use href="../img/icons.svg#icon-Volyn"></use>
    </svg>
        <svg class="map-logo-Zakarpattia" width="172" height="120">
        <use href="../img/icons.svg#icon-Zakarpattia"></use>
    </svg>
        <svg class="map-logo-Zaporizhzhia" width="211" height="199">
        <use href="../img/icons.svg#icon-Zaporizhzhia"></use>
    </svg>
        <svg class="map-logo-Zhytomyr" width="176" height="218">
        <use href="../img/icons.svg#icon-Zhytomyr"></use>
    </svg>
  </div>
</div>
</section>

