<section class="bg-gray-900 rounded-3xl p-11 max-w-screen-xl mx-auto">
  <div class="flex flex-col items-center justify-center gap-16">
    <div class="flex items-center justify-center gap-24">
      <div class="flex items-center gap-3">
        <img
          src="../img/SVG/Ellipseyellow.svg"
          alt="Ukraine Map"
          class="w-6 h-6"
        />
        <p class="text-sm font-light text-gray-300 pb-2">
          більше 70% територіальних<br />громад
        </p>
      </div>
      <div class="flex items-center gap-3">
        <img
          src="../img/SVG/Ellipseblue.svg"
          alt="Ukraine Map"
          class="w-6 h-6"
        />
        <p class="text-sm font-light text-gray-300 pb-2">
          від 40% до 70%<br />територіальних громад
        </p>
      </div>
      <div class="flex items-center gap-3">
        <img
          src="../img/SVG/Ellipseblack.svg"
          alt="Ukraine Map"
          class="w-6 h-6"
        />
        <p class="text-sm font-light text-gray-300 pb-2">
          менше 40%<br />територіальних громад
        </p>
      </div>
    </div>
    <div class="relative">
      <img
        src="../img/SVG/ukraine-map.svg"
        alt="Ukraine Map"
        class="w-full h-full object-cover"
      />
    </div>
  </div>
</section>
