.footer-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 44px;
  color: #fff;
  /* background: #101010; */

  padding: 44px;
  max-width: 1312px;
    margin: 0 auto;
}

.creeping-line {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;

  padding: 8px 16px;
  width: 1856px;
  height: 37px;
  background: #2969f6;

  margin-top: 140px;

  position: relative;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}

.creeping-line span {
  display: inline-block;
  padding-right: 100%;
  animation: creeping-line 90s linear infinite;
}

@keyframes creeping-line {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.line-text {
  font-family: "e-Ukraine", sans-serif;
  font-weight: 300;
  font-size: 14px;
  
  line-height: 1.57;
  color: #fff;
}

.top-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

.rectangle {
  border-radius: 10px;
    width: 36px;
    height: 34px;
    background: #e0fc52;
}

.main-frame {
  display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 32px;
    position: relative;
}

.address {
  display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;

    padding: 0px 0px 12px 0px;
}

.text-wrapper-2 {
    font-size: 18px;  
    line-height: 1.33;
}

.address-item {
    font-weight: 200;
    font-size: 16px;

    line-height: 1.5;
}

.developed {
  display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;

    padding: 0px 0px 16px 0px;
}

.partners {
  position: relative;
  display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
}

.div-5 {
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
}

.footer-animation {
  position: absolute;
  top: 0;
  left: 860px;
  align-self: flex-end;
  background-color: transparent;
}

.flower-group {
  position: absolute;
  top: 20px;
  left: 170px;
}

.animation-flower-2 {
  position: absolute;
  top: 65px;
  left: 47px;
}

.animation-flower-3 {
  position: absolute;
  top: 65px;
  left: 17px;
}

.river-group {
  position: absolute;
  top: 80px;
  left: 70px;
}

.animation-river-2 {
  position: absolute;
  top: 40px;
  left: -220px;
}

.bottom-frame {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
    
  /* width: 1224px; */
}

.rights,
.ministry,
.license {
    font-weight: 200;
    font-size: 10px;
  
    line-height: 1.9;
    color: #666;
    max-width: 392px;
}
